a {
    color: #fbfbfb;
    background-color: #424242;
    text-decoration: none;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    display: block;
    height: 42px;
    width: 204px;
    line-height: 42px;
    text-indent: 2em;
}

a:hover {
    background-color: #ff6700;
}

strong {
    text-align: right;
}
