body {
    font-size: 16px;
    font-family: "Microsoft Yahei";
    line-height: 28px;
}

h1 {
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
}

.grey {
    font-size: 12px;
    color: #808080;
}

.center {
    text-align: center;
}

.search {
    color: #888888;
    width: 170px;
}

.button {
    font-weight: 700;
}