* {
    padding: 0px;
    margin: 0px;
}
body {
    text-align: center;
}
h1,p,div {
    display: block;
    margin: 0px auto;
}
h1 {
    width: 33%;
    font-size: 35px;
    margin-top: 50px;
}
p {
    width: 50%;
    font-size: large;
    margin-top: 20px;
}
div {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
a {
    top: 0px;
    position: relative;
    display: block;
    width: 108px;
    padding: 20px 40px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 64px;
    border: #008184 solid 2px;
    color: #008184;
    font-size: 13px;
    font-family: "Microsoft Yahei";
    text-decoration: none;
}
a:hover {
    top: 10px;
}