h1 {
    display: block;
    font-size: 50px;
    font-weight: 900;
    width: 260px;
    margin: 75px auto;
}
table {
    text-align: center;
    margin: 0px auto;
    border-collapse: collapse;
}
table tr td {
    padding: 10px 50px;
    border: 2px solid #87ceeb;
}
#back {
    display: block;
    text-align: center;
    width: 100px;
    font-weight: 700;
    font-family: "Microsoft Yahei";
    margin: 50px auto 0px;
    padding: 10px;
    color: #000000;
    background-color: rgba(0,238,255,0.5);
    border-radius: 10px;
    border: #000000 solid 5px;
}
#back:hover {
    background-color: rgba(0,238,255,1);
}