.nav a {
    display: inline-block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    background-size: contain;
}

.char1 {
    background-image: url(char/0_icon.png);
}
.char1:hover {
    background-image: url(char/0.png);
}

.char2 {
    background-image: url(char/0u_icon.png);
}
.char2:hover {
    background-image: url(char/0u.png);
}

.char3 {
    background-image: url(char/1_icon.png);
}
.char3:hover {
    background-image: url(char/1.png);
}

.char4 {
    background-image: url(char/1u_icon.png);
}
.char4:hover {
    background-image: url(char/1u.png);
}

.char5 {
    background-image: url(char/2_icon.png);
}
.char5:hover:hover {
    background-image: url(char/2.png);
}

.char6 {
    background-image: url(char/2u_icon.png);
}
.char6:hover {
    background-image: url(char/2.png);
}

.char7 {
    background-image: url(char/3_icon.png);
}
.char7:hover {
    background-image: url(char/3.png);
}

.char8 {
    background-image: url(char/4_icon.png);
}
.char8:hover {
    background-image: url(char/4.png);
}

.char9 {
    background-image: url(char/4u_icon.png);
}
.char9:hover {
    background-image: url(char/4u.png);
}

.char10 {
    background-image: url(char/5_icon.png);
}
.char10:hover {
    background-image: url(char/5.png);
}

.char11 {
    background-image: url(char/6_icon.png);
}
.char11:hover {
    background-image: url(char/6.png);
}

.char12 {
    background-image: url(char/7_icon.png);
}
.char12:hover {
    background-image: url(char/7.png);
}

.char13 {
    background-image: url(char/14_icon.png);
}
.char13:hover {
    background-image: url(char/14.png);
}

.char14 {
    background-image: url(char/15_icon.png);
}
.char14:hover {
    background-image: url(char/15.png);
}

.char15 {
    background-image: url(char/16_icon.png);
}
.char15:hover {
    background-image: url(char/16.png);
}